@{
    ViewData["Title"] = "Liste des contacts";
    var contacts = ViewBag.Contacts as List<TpAspNetCoreMVC.Models.ContactModel>;
}

<h1>@ViewData["Title"]</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        <a asp-action="Ajouter" class="btn btn-success">Ajouter un contact</a>

    </thead>
    <tbody>
        @foreach (var contact in contacts)
        {
            <tr>
                <td>@contact.Nom</td>
                <td>@contact.Prenom</td>
                <td>@contact.Email</td>
                <td>
                    <a asp-action="Afficher" asp-route-id="@contact.Id" class="btn btn-info">Détails</a>
                </td>
            </tr>
        }
    </tbody>
</table>
